#add-button {
  color: #000000;
  cursor: pointer;
  float: right;
  font-family: Verdana, sans-serif;
  font-size: 12pt;
  margin: 8px 6px 0px 7px;
}

#add-button:hover {
  color: #ffffff;
}

#all-content {
  margin: 20px auto 0px auto;
  width: 800px;
}

body {
	background-color: #ffffff;
	font-family: Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
}

.delete-button {
  background-color: #e5e5e5;
  cursor: pointer;
  display: none;
  float: right;
  font-family: Verdana, sans-serif;
  font-size: 12pt;
  padding: 0px 5px 3px 5px;
  text-align: center;
}

.delete-button:hover {
  background-color: #dddddd;
}

#form-title {
  font-family: Verdana, sans-serif;
  font-size: 25pt;
  margin: 0px;
}

#header {
  background-color: #ff6600;
  height: 35px;
}

#hidden-form {
  display: none;
}

.priority {
  display: none;
}

#submit-task {
  background-color: #e5e5e5;
	cursor: pointer;
	float: right;
	font-family: Verdana, sans-serif;
	font-size: 12pt;
	padding: 2px 6px 4px 6px;
	text-align: center;
}

#submit-task:hover {
  background-color: #dddddd;
}

.task-class {
  background-color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 12pt;
  margin: 0px;
  padding: 6px 7px 9px 5px;
  width: 788px;
}

.task-class-alt {
  background-color: #f6f6f6;
}

#task-form {
  height: 145px;
  margin: 10px;
  width: 520px;
}

#task-link {
  text-decoration: none;
}

textarea {
  background-color: #fefefe;
  border: 1px solid #000000;
	font-family: Verdana, sans-serif;
  font-size: 12pt;
  height: 22px;
  margin: 10px 0px 10px 0px;
  outline: none;
  padding: 10px 6px 6px 8px;
  resize: none;
  width: 504px;
}

#title {
  color: #000000;
  float: left;
  font-family: Verdana, sans-serif;
  font-weight: bolder;
  font-size: 14pt;
  margin: 6px 6px 0px 7px;
}